@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');



.font-jerbrains {
    font-family: "JetBrains Mono", monospace;
  }


.trapezoid {
  border-bottom: 50px solid #1AF012;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}